* {
    margin: 0;
    padding: 0;
}

#showcase {
    background-image: url(../1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
 }
 .showcase-content {
     text-align: center;
     padding-top: 60px;
 }
 .offer {
     text-transform: uppercase;
     margin-top: 130px;
 }
 .offer p {
     font-size: 27px;
     letter-spacing: 0.1em;
     color:rgb(32, 27, 27);
     font-style:oblique;  
     font-weight: bold; 
 }
 .offer h1 {
     font-size:100px;
     margin-bottom: 19px;
     margin-top: 9px;
     letter-spacing: 0.02em;
     font-family: orpheuspro,serif;
 }
.button {
    font-weight: initial;
    line-height: 2.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    width: calc(100% - 800px);
    user-select: none;
    background-color: rgb(187, 55, 73);
    border: 2px solid rgb(255, 255, 255);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
 }
.title-with-back{
    font-size:35px;
    text-align: center;
    margin-top: 10px;
    font-family: orpheuspro,serif;
    letter-spacing: 0.02em;
}


#home-info{
    height: 400px;
    background-color:antiquewhite;
}
#home-info .info-img{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../3.jpg);
}
#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;    
}

#home-info .info-content p{
    padding-bottom: 20px;
    font-size: 20px;
}

body{
    padding: 0px;
    margin: 0px;
    font-style: orpheuspro,serif ;
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#contact-section{
    background: linear-gradient(rgba(160, 105, 105, 0.6),rgba(163, 133, 133, 0.3)), url(../1back.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}
#contact-section .container h3{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238,235,235);
    letter-spacing: 2px;
}
.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
}
.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}
.contact-form{
    display: grid;
    grid-template-columns: auto auto;
    /* grid-gap: 5px; */
}
.form-info{
    font-size: 25px;
    font-style: times new normal;
    color: #fff;
    letter-spacing: 5px;
}
input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}

.sci{
    position: absolute;
    left: 110px;
    align-items: center;
    list-style: none;
    font-size:100px;
     margin-bottom: 19px;
     letter-spacing: 0.02em;
}

input::placeholder{
    color:#fff;
}
textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}
textarea::placeholder{
    color: #fff;
}
.submit{
    width: 40%;
    background: none;
    padding: 6px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190,190,190);
}
